{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section id="home">
        <div class="container">
            <h1>Hom</h1>
            <p>Welcome to my portfolio!</p>
        </div>
    </section>

    <section id="projects">
        <div class="container">
            <h1>Projects</h1>
            <p>Here are some of the projects I’ve worked on...</p>
            <a href="{% url 'project1' %}" class="btn btn-primary">
                <img src="{% static 'images/microchip_green.png' %}" alt="Microchip Green" style="width:100px;height:100px;">
            </a>
            <a href="{% url 'calculator' %}" class="btn btn-primary">
                <img src="{% static 'images/microchip_green.png' %}" alt="Microchip Green" style="width:100px;height:100px;">
            </a>
        </div>
    </section>
    

    <section id="about">
        <div class="container">
            <h1>About</h1>
            <p>A little bit about me...</p>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h1>Contact</h1>
            <p>Feel free to reach out to me...</p>
        </div>
    </section>
{% endblock %}
